*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Background Color */
    --bg-primary-color:rgb(24, 24, 24);
    --bg-fill-color:rgb(237, 237, 237);

    /* Text Color */
    --text-color:rgb(234, 231, 231);

    /* Spacing Variables */
    --space-xs : 0.25rem;
    --space-sm : 0.5rem;
    --space-md : 1rem;
    --space-lg : 1.5rem;
    --space-xl : 2rem;
    --space-2xl : 2.5rem;
    --space-3xl : 3rem;

    /* Border Primary Color */
    --border-primary-color:#333;

     /* Border Radius */
    --border-radius-xs : 0.25rem;
    --border-radius-sm : 0.5rem;
    --border-radius-md : 0.75rem;
    --border-radius-lg : 1rem;
    --border-radius-xl : 1.25rem;
    --border-radius-2xl : 1.5rem;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main,
section{
    height: 100vh;
    width: 100vw;
}

section{   
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 42);
    gap: var(--space-lg);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 0.16rem solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    width: 100%;
    height: 100%;
    border: 0.16rem solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(5rem,1fr));
    grid-template-rows: repeat(auto-fill,minmax(5rem,1fr));
}

.block{
    /* width: 2rem;
    height: 2rem; */
    border: 0.16rem solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
    color: black;
}