*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    font-family: "Segoe UI", system-ui, sans-serif;
}

main{
    width: 100%;
    height: 100%;
    background-color: bisque;
    position: relative;
}

.taskbar{
    width: 100%;
    height: 3.5rem;
    background-color: #2e2414;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.icons,
.systemTray,
.weatherDescription{
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
}

.icons .icon:active{
    scale: 0.9;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
    /* padding: 0.5rem; */
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 1.5rem;
    color: #EDEDED;
    border-radius: 0.3rem;
}

.icon:hover{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
}

.systemDateTime,
.weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trayExpand{
    display: flex;
    justify-content: space-evenly;
}

.weather{
    font-size: 1rem;
    padding: 0.1rem; 
    height: 2.5rem;
    width: 4rem;
}

.systemDateTime{
    font-size: 1rem;
    padding: 0.1rem; 
    height: 2.5rem;
    width: 6rem;
}

.startWrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.PopUp{
    position: absolute;
    bottom: 3.7rem;   /* taskbar height + gap */
    left: 0;
    width: 32rem;
    height: 35rem;
    transform: translate(-20%);
    background: rgba(40,40,40,0.9);
    backdrop-filter: blur(14px);
    border-radius: 12px;
    left: 50%;
    z-index: 100;
    opacity: 0;
    transition: all 0.25s cubic-bezier(.66,.2,.56,.97);

    /* transition:
        opacity 0.22s ease-out,
        transform 0.22s ease-out; */
}

.rightClick{
    position: absolute;
    height: 16.5rem;
    width: 11rem;
    background-color: #2e2414f5;
    border-radius: 0.5rem;
    opacity: 0;
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.16),
        0 4px 8px rgba(0, 0, 0, 0.10);
}

.rows{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.row{
    display: flex;
    gap: 0.7rem;
    color: #cdccca;
    text-wrap: nowrap;
    font-size: 1rem;
    font-weight: 200;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    /* border: 1px solid #2e2414; */
}

.row>.icon{
    width: 1rem;
    height: 1rem;
    font-size: 1.2rem;
}
