*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

html,
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    .confetti {
    position: fixed;
    top: -10px;
    font-size: 20px;
    animation: fall 3s linear forwards;
    font-size: 25px;
    }
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .envelop{
    opacity: 1;
    height: 400px;
    width: 600px;
    background-color: #A694D6;
    border-radius: 15px;
    position: relative;
    top: 25%;
    transition: all 0.4s ease;

    .message{
    opacity:0;
    transition: opacity 1s ease;
    }

.message.show{
  opacity:1;
}

.stamp{
  transition: transform .7s ease;
}

.stamp.move{
  transform: translate(-55%, 5%);
}


    .bigTriangle{
    height: 400px;
    width: 600px;
    background-color: #B8A6E3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    position: absolute;
    bottom: 0;
    }

    .smallTriangle{
        height: 400px;
        width: 600px;
        background-color: #C9BDF0;
        border-bottom-left-radius: 15px;
        clip-path: polygon(0 0, 0 100%, 54% 46%);
        position: absolute;
        bottom: 0;
    }

    .stamp{
    height: 150px;
    width: 150px;
    position: absolute;
    rotate: -25deg;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-5%, -65%);
    transition: transform 0.7s ease;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
   }

   .message{
    height: 350px;
    width: 550px;
    background-color: #e3def5;
    border-radius: 15px;
    position: absolute;
    bottom: 5%;
    opacity: 0;
    rotate: -3deg;
    left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1.2s ease;
    #typedText{
    width: 70%;
    height: 40%;
    }
   }

}
.replay{
    opacity: 0;

    button{
        position: absolute;
        bottom: 8%;
        left: 46%;
        color:#6d53b6;
        background-color: #6d53b61d;
        border: 2px solid #6d53b6;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 14px;
    }

    button:active{
       scale: 0.95;
    }
}
}
